.contest {
  padding: 0;
  margin-bottom: 15px;
  }

.slogan {
  margin: 0 auto;
padding: 54px;
  font-size: 14px;
  line-height: 30px;
  color: @desaturated-blue;
  text-align: center;

  @media (min-width: @tablet-width) {
  font-size: 18px;
  }

  @media (min-width: @desktop-width) {
  max-width: 756px;
  font-size: 18px;
  }
}

.contest__form {
  font-size: 18px;

  @media (min-width: @tablet-width) {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
  flex-flow: row wrap;
  padding: 0 10px;

  }
}

.contest__surname {
  padding-bottom: 42px;
}

.contest__fields {
  border: none;
  margin: 0;

  @media (min-width: @tablet-width) {
  padding: 0;
  border: 2px solid @light-gray;
  border-radius: 2px;
  }

   @media (min-width: @desktop-width) {
  padding: 0;
  border: 2px solid @light-gray;
  border-radius: 2px;
  }

}

.name {
  border: none;
  width: 330px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.contest__achieve-fields {
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    order: 3;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.contest__contacts-data {
  width: 100%;
  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.contest__fields--contacts {
  margin-bottom: 53px;
  @media (min-width: @desktop-width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
}

.content__checkbox-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
}

.checkbox {
  margin-bottom: 47px;
}

.contest__radio {
  background-color: @light-gray;

   @media (min-width: @tablet-width) {
    order: 1;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    padding-top: 30px;
    width: 435px;
  }
}

.contest__app-list {
  margin: 0;
  padding: 18px 0 0;
  list-style: none;
}

.radio {
  margin-bottom: 42px;
}

.contest__review {
  padding-top: 42px;

  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.fields-frame__textarea {
  padding: 22px;
  resize: none;
  box-sizing: border-box;
  min-height: 197px;
  border: 2px solid @borders-color;
  line-height: 29px;
}
.contest__button{
  display: flex;
  flex-direction: column;
  padding: 29px 20px 15px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 5;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 14px 44px;
  border: 3px solid @btn-green;
  background-color: @btn-green;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-white;
  text-transform: uppercase;
}

.contest__prompt {
  margin-top: 46px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 30px;
  color: @desaturated-blue;
  text-transform: uppercase;
  text-align: center;
}

