.contacts {
  padding: 55px 0 0;
}

.contacts__title {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: center;
}

.contacts__list {
  width: 320px;
    margin: 0 auto;
    padding: 45px 0 0;
    list-style: none;
    text-align: center;
}

.contacts__item {
  padding-bottom: 31px;
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: @desaturated-blue;

}
.contacts__link {
  font-weight: 300;
  font-size: 24px;
  font-weight: lighter;
  color: @pink;
}
