.contacts {
  padding: 55px 0 0;

 @media (min-width: @tablet-width) {
  padding-top: 46px;
  padding-bottom: 28px;
  }

 @media (min-width: @desktop-width) {
  padding: 64px 0 19px;
  height: 302px;
  }
}

.contacts__title {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: center;

 @media (min-width: @tablet-width) {
  margin: 0 auto;
  width: 500px;
  font-size: 40px;
  line-height: 48px;
  }

 @media (min-width: @desktop-width) {
  font-size: 50px;
  line-height: 60px;
  font-family: 'OpenSans';
  }
}

.contacts__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-top: 18px;
  font-family: 'OpenSans';

 @media (min-width: @tablet-width) {
  justify-content: space-around;
  padding-top: 51px;
  }

 @media (min-width: @desktop-width) {
  margin: 0;
  padding-top: 52px;
  }
}

.contacts__item {
  padding-bottom: 31px;
  width: 280px;
  text-align: center;
}

.contacts__item:nth-child(1) {
 @media (min-width: @desktop-width) {
  position: relative;
  left: -6px;
  }
}

.contacts__item:nth-child(3) {
 @media (min-width: @desktop-width) {
  order: 2;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    order: 3;
    position: relative;
    left: 7px;
  }
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: @desaturated-blue;
  display: block;

 @media (min-width: @desktop-width) {
  padding-bottom: 21px;
  }
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  font-weight: lighter;
  color: @pink;
  line-height: 33px;
  font-family: 'OpenSans';
}
.contacts__link:hover {
  color: @basic-black;
}

.contacts__link .contacts__link__underline {
  display: block;
  position: relative;
  width: inherit;
  height: 2px;
  background: @basic-black;
  bottom: 2px;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
}
.contacts__link:hover .contacts__link__underline {
  opacity: 1;
}
.contacts__link:active .contacts__link__underline {
  opacity: 0;
}

