.contest {
  padding: 0;
  margin-bottom: 15px;
  }

.contest__slogan {
  margin: 0;
  padding: 54px;
  font-size: 14px;
  line-height: 30px;
  color: @desaturated-blue;
  text-align: center;
}

.contest__form {
  font-size: 18px;
}

.contest__fields {
  margin: 0 auto;
  padding: 0 0 42px;
  width: 276px;
  border: 0;
}

.contest__achieve-fields {
  background-color: @light-gray;
}

.content__checkbox-list {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.checkbox {
  padding-bottom: 47px;
}

.contest__radio {
  background-color: @light-gray;
}

.contest__app-list {
  margin: 0;
  padding: 18px 0 0;
  list-style: none;
}

.radio {
  padding-bottom: 42px
}

.contest__review {
  padding-top: 42px;
}

.fields-frame__textarea {
  padding: 22px;
  width: 100%;
  box-sizing: border-box;
  min-height: 197px;
  border: 2px solid @borders-color;
  line-height: 29px;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 14px 44px;
  border: 3px solid @btn-green;
  background-color: @btn-green;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-white;
  text-transform: uppercase;
}

.contest__prompt {
  margin-top: 46px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 30px;
  color: @desaturated-blue;
  text-transform: uppercase;
  text-align: center;
}

