.download__container {
  @media (min-width: @tablet-width) {
    width: 300px;
    padding-left: 20px;
    position: relative;
 }
  @media (min-width: @desktop-width) {
    width: 300px;
    padding-left: 130px;
    position: relative;
  }
}

.download__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  align-items: center;
  display: block;
  padding-top: 90px;
  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    padding-top: 102px;
    }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}


.download__button {
  display: inline-block;
  color: @basic-white;
  border-color: @basic-white;
  background-color: transparent;
  border-radius: 29px;
  border: solid;
  border-width: 3px;
  min-width: 280px;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 28px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @mobile-width-only) {
   margin-top: 350px;
  }

  @media (min-width: @tablet-width) {
   margin-top: 39px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.download__list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 38px 0 31px;
}

.download__item {
  margin: 0 35px;
}

.download__text {
  margin: 0;
  padding: 0;
  max-width: 230px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
