.download__container {

}

.download__title {
  font-size: 24px;
  line-height: 28,8px;
  font-weight: 300;
  align-items: center;
  display: block;
  padding-top: 29px;
  margin-bottom: 450px;
}

.download__button {
  color: @basic-white;
  border-color: @basic-white;
  background-color: transparent;
  border-radius: 29px;
  border: solid;
  border-width: 3px;
  min-width: 280px;
  min-height: 55px;
  font-weight: 700;
  font-size: 18px;
  padding: 16px 28px;

}

.download__list {
  list-style: none;
  display: flex;
 //justify-content: center;
 padding: 38px 0 31px;
}

.download__item {
margin: 0 35px;
}

.download__text {
  margin: 0;
  padding: 0;
  max-width: 230px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
