.features{
  background-color: @light-gray;
  padding: 53px 0 0;
  min-height: 752px;
}

.features__list {
list-style: none;
}

.features__item {
text-align: center;
width: 280px;
padding-bottom: 43px;
  }
.features__item:nth-child(3) {
  background-image: url(../../img/iphone-features.png);
  background-repeat: no-repeat;
  background-position: 40% 170px;
  background-size: 157px auto;
  padding-bottom: 318px;
}
