.features {
  background-color: @light-gray;
}

.features__title {
  margin: 0;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  text-align: center;
  width: 280px;
  padding-bottom: 43px;
  }

.features__item:last-child {
  background-image: url(../../img/iphone-features.png);
  background-repeat: no-repeat;
  background-position: 40% 170px;
  background-size: 157px auto;
  padding-bottom: 318px;
}
