.field__label {
  display: block;
  padding-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
}

.field__input {
  box-sizing: border-box;
  width: 100%;
  padding: 19px;
  border: 2px solid @borders-color;
}

.fields-frame__legend {
  padding-top: 42px;
  padding-bottom: 44px;
  min-width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
}
