.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.page-footer__logo {
  padding: 0;
  margin-left: 2px;
}

.page-footer__logo:hover, .page-footer__logo:focus {
  filter: invert(50%) sepia(72%) saturate(6035%) hue-rotate(333deg) brightness(85%) contrast(86%);
}
a.page-footer__logo:active, a.page-footer__logo:active img {
  filter: unset;
  opacity: 30%;
}

.page-footer__social {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  padding-top: 35px;
     @media (min-width: @tablet-width){
  padding-top: 0;
}
}

.social {
 @media (min-width: @tablet-width){
    margin: 0;
  }
}
.social__item {
  margin: 1px 3px;
}

.page-footer__copyright {
display: flex;
    justify-content: flex-end;
  padding: 0;
   @media (min-width: @tablet-width){
    align-items: center;
  }
}
