.page-header {
  color: @basic-white;
  background-color: @transpparent-color;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
   max-height: 66px;
}

.page-header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: none;
      justify-content: space-between;
      padding: 22px 20px 21px;
      margin: 0 auto;

  @media (min-width: @desktop-width) {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 940px;
  }
}

.page-header__logo {

}
