.page-main {
  font-size: 18px;
  line-height: 24px;

}
 .page-main__download {
  background-image: url(../../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  color: @basic-white;
  background-color: @dark-blue;
  min-height: 632px;
 }

 .page-main__download::before {
  background-image: url(../../img/phone.png);
  content: "";
  position: absolute;
  width: 286px;
  height: 320px;
  background-repeat: no-repeat;
  margin-top: 90px;
}

.page-main__slogan{
  margin: 0 auto;
  width: 230px;

}

.page-main__slogan p {
  padding: 0;
  display: block;
  font-size: 24px;
  line-height: 28.8px;
  color: @desaturated-blue;
  font-weight: lighter;
  text-align: center
}
