.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.page-footer__logo {
  padding: 0;
}

.page-footer__social {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

}

.social {
 @media (min-width: @tablet-width){
    margin: 0;
  }
}
.social__item {
  margin: 0 10px;
}

.page-footer__copyright {
display: flex;
    justify-content: flex-end;
  margin-top: -22px;
  padding: 0;
}
