.page-header {
  color: @basic-white;
  background-color: @transpparent-color;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 66px;
  z-index: 6;

  @media (min-width: @tablet-width) {
    max-height: 110px;
  }
}

.page-header__container {
  background-color: none;
  flex-direction: wrap;
  flex-wrap:wrap;

 @media (min-width: @desktop-width) {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 940px;
  }
}

.page-header__container,
.page-header__logo {
  display: flex;
}

.page-header__logo{
  width: 100%;
  justify-content: space-between;
  padding: 23px 20px;

 @media (min-width: @desktop-width) {
  border: 0;
  width: auto;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  flex-wrap: nowrap;
  }
}

.page-header__container--open {
  background-color: @desaturated-blue;
  border-bottom: 1px solid @basic-black;

 @media (min-width: @desktop-width) {
  background-color: @transpparent-color;
  border: none;
    }
  }
