.photo {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

@media (min-width: @tablet-width) {

  }

@media (min-width: @desktop-width){

  }
}

.photo--wide {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

@media (min-width: @tablet-width) {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  @media (min-width: @desktop-width) {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 0;
  }
}
.gallery__stiker {
  background-color: @pink;
  font-family: inherit;
  color: @basic-white;
  padding: 13px 20px 14px 19px;
  position: absolute;
  right: 0;
}

.photo__link{
 display: block;
}

.photo__link--wide
.link__img--wide {
  width: 100vw;
}

.link__img  {
  display: block;
  width: 100%;
}

.photo__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
  padding: 18px;
  background-color: @light-gray;
  color: @desaturated-blue;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.photo__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: auto;
}

.photo__likes {
  display: flex;
  position: relative;
  margin-top: 16px;
  font-size: 12px;
  color: @pink;
  text-transform: uppercase;
}

.photo__like-btn {
  display: block;
  padding: 0;
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
  background-image: url(../img/heart-likes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.photo__like-text {
  margin-left: 18px;
}
.gallery {
  overflow: hidden;
}
.gallery__container {
@media (min-width: @tablet-width) {
 display: grid;
 grid-template-columns: 1fr 1fr;
column-gap: 20px;

  }

@media (min-width: @desktop-width) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-row-gap: 54px;
  }
}

