
.price {
  padding-top: 83px;
  padding-bottom: 49px;
  background-color: @light-gray;
  }

.price__container {

}

.price__table {
  width: 932px;
  border-spacing: 2px;
}

.table-price {
  padding-top: 17px;
  padding-bottom: 21px;
  border-right: 2px solid @light-gray;
  font-size: 18px;
  color: @basic-black;
  background-color: @basic-white;
}

.table-price__header {
  padding-top: 17px;
  padding-bottom: 21px;
  border-right: 2px solid @light-gray;
  font-size: 18px;
  color: @basic-white;
  background-color: @desaturated-blue;
}

.table-price__type,
.table-price__price {
  display: block;
}

.table-price__type {
  font-weight: bold;
}

.table-price__price {
  font-size: 24px;
  font-weight: 300;
}

.table-price__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;

}


