.price {
  padding-top: 83px;
  padding-bottom: 49px;
  background-color: @light-gray;
  }

.price__container {
  padding-top: 91px;
  padding-bottom: 50px;
  overflow: hidden;

}

.price__table {
  width: 932px;

  @media (min-width: @tablet-width) {
 width: 100%
  }

}



