.review {
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 185px;
    padding-bottom: 40px;
    background-image: url("../img/quotes-review.svg");
    background-repeat: no-repeat;
    background-position: 50% 73px;
    background-size: 79px 63px;
  }
}
.review__container{
  position: relative;
}
.review__prev {
  display: none;
}
.review__prev:hover {
  filter: opacity(100%) sepia(0%) brightness(0%) contrast(100%);
}

.review__prev:active {
  filter: opacity(30%);
}

.review__next {
  display: none;
 }

.review__next:hover {
  filter: opacity(100%) sepia(0%) brightness(0%) contrast(100%);
}
.review__next:active {
  filter: opacity(30%);
}

.review__prev {
  @media (min-width: @desktop-width) {
  position: absolute;
    display: block;
    margin-top: -66px;
    left: 13px;
    width: 28px;
    height: 42px;
    top: 50%;
    background: 0 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url(../img/left-arrow.svg);
    background-repeat: no-repeat;
  }
}

.review__next {
  @media (min-width: @desktop-width) {
    position: absolute;
    display: block;
    margin-top: -66px;
    width: 28px;
    height: 42px;
    top: 50%;
    background: 0 0;
    border: none;
    outline: none;
    cursor: pointer;
    right: -20px;
    background-image: url(../img/right-arrow.svg);
    background-repeat: no-repeat;
}
}

.review__list {
  flex-direction: column;
  height: 238px;
  line-height: 30px;

  @media (min-width: @tablet-width)  {
    height: 187px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 780px;
  }
}

.review__item {
  margin: 0;
  max-height: 160px;

   @media (min-width: @tablet-width) {
    margin-bottom: 13px;
    max-height: 90px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.review__name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
@media (min-width: @tablet-width) {
  font-size: 20px;
  }
   @media (min-width: @tablet-width) {
  font-size: 24px;
  order: 2;
  margin-top: 40px;
}
}
.review__detail {
   @media (min-width: @tablet-width) {
  order: 3;
}
}
 .review__text {
  margin: 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: @desaturated-blue;
  @media (min-width: @tablet-width) {
  font-size: 18px;
line-height: 30px;
order: 1;
  }
 }

.review__info {
  @media (min-width: @tablet-width) {
display: flex;
flex-direction: column;
  }
}
