.review {
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 185px;
    padding-bottom: 40px;
    background-image: url("../img/quotes-review.svg");
    background-repeat: no-repeat;
    background-position: 50% 73px;
    background-size: 79px 63px;
  }
}

.review__list {
  flex-direction: column;
  height: 238px;
  line-height: 30px;

  @media (min-width: @tablet-width)  {
    height: 187px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 780px;
  }
}

.review__item {
  margin: 0;
  max-height: 160px;

   @media (min-width: @tablet-width) {
    margin-bottom: 13px;
    max-height: 90px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.review__name {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
}

 .review__text {
  margin: 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: @desaturated-blue;
 }

.review__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 59px;
  min-height: 12px;
  padding-top: 33px;
  padding-bottom: 5px;
}


