.table-price__cell {
  border: 2px solid @borders-color;
  font-size: 18px;
  color: @basic-black;
  background-color: @basic-white;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 2px;
  padding: inherit;
  padding: 14px 21px 15px;
  height: 30px;
}
.table-price {
  border: 2px solid @borders-color;
  font-size: 18px;
  color: @basic-black;
  background-color: @basic-white;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 2px;
  padding: inherit;
  background: transparent;

}

.table-price--hidden {
  display: none;
  @media (min-width: @tablet-width) {
    display: table-cell;
    background-color: transparent;
    border: none;
    opacity: 0;
height: 0;
visibility: hidden;

  }
}

.table-price__header {
  border: 2px solid @borders-color;
  font-size: 18px;
  color: @basic-white;
  background-color: @desaturated-blue;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  width: 233px;
  height: 97px;
}

.table-price__type,
.table-price__price {
  display: block;
}
.table-price__price {
  font-weight: 300;
}

.table-price__type {
  font-weight: bold;
  position: relative;
  bottom: 5px;
  font-family: 'OpenSans';
}

.table-price__price {
  font-size: 24px;
  font-weight: 300;
  font-family: 'OpenSans';
}

.table-price__item {
  font-family: 'OpenSans';
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;

}

.table-price__type--hit::before{
  content: "";
  width: 118px;
  height: 21px;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 0px;
  left: -33px;
  transform: rotate(-45deg);
  text-align: center;
  text-transform: uppercase;
  background-color: @pink;
  color: @basic-white;
}

.table-price__type--hit::after{
   content: "Хит";
    font-family: 'OpenSans';
    width: 118px;
    height: 21px;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    top: -3px;
    left: -36px;
    transform: rotate(-45deg);
    text-align: center;
    text-transform: uppercase;
    background-color: @pink;
    color: @basic-white;
  }

.table-price__cell--yes {
  background-image: url(./img/yes.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.table-price__cell--no {
    background-image: url(./img/no.svg);
  background-repeat: no-repeat;
  background-position: center;
}
