.upload {
  padding: 20px 0 34px;
  background-color: @light-gray;
}

.upload__container {
  width: 280px;
  margin: 0 auto;
}

.upload__list {
  position: relative;
}

.upload__bar {
  display: block;
  width: 202px;
  position: absolute;
  height: 2px;
  background-color: @desaturated-blue;
}

.upload__controls {
  max-width: 247px;
  padding: 0;
  list-style: none;
  align-items: center;
  border-bottom: 1px solid @desaturated-blue;
  margin-bottom: 52px;
}

.upload__toggle {
  background-color: @basic-white;
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: @light-gray;
  border: 2px solid @pink;
  border-radius: 50%;
  padding: 0;
}

.upload__controls--crop::before {
  content: '';
  position: absolute;
  background-image: url(../../img/crop.svg);
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
}

.upload__controls--fill::before {
  content: '';
  position: absolute;
  background-image: url(../../img/fill.svg);
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
}

.upload__controls--contrast::before {
  content: '';
  position: absolute;
  background-image: url(../../img/contrast.svg);
  background-repeat: no-repeat;
  height: 44px;
  width: 44px;
}

.upload__btn {
  font-family: inherit;
  width: 280px;
  border-radius: 25px;
  color: @pink;
  background-color: transparent;
  display: inline-block;
  padding: 15px 35px;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid @pink;
}

