.upload__container  {
  background-color: @light-gray;

  @media (min-width: @desktop-width) {
    padding-top: 57px;
   padding-left: 80px;
    padding-right: 90px;
    padding-bottom: 57px;
  }
}

.upload {
   background-color: @light-gray;

   @media (min-width: @desktop-width) {
  padding: 0;
  background-color: @basic-white;

  }
}

.upload__content{
  @media (min-width: @tablet-width) {
display: grid;
grid-template-columns: 300px 260px;
column-gap: 90px;
padding: 20px 50px 0 60px;
background-color: @light-gray;



  }

  @media (min-width: @desktop-width) {
display: grid;
grid-template-columns: 300px 410px;
  }
}
.ubload__img{
  padding: 20px 0 42px;
}

.ubload__img img{
  width: 100%;
}
.upload__tools{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: @tablet-width) {

  }
@media (min-width: @desktop-width) {
      width: 410px;
    padding: 46px 0 57px;
    justify-content: space-between;
  }
}
.upload__list-block{
  border-bottom: 2px solid @borders-color;
  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.upload__list {
position: relative;
    display: flex;
    width: 240px;
    margin: 0 auto;
    padding-bottom: 75px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

  @media (min-width: @tablet-width) {
  width: 100%;
    padding-bottom: 0;
    justify-content: space-between;
    border-bottom: none;
    display: block;

  }

  @media (min-width: @desktop-width) {
display: block;
  }
}
.upload__svg{
  width: 48px;
    height: 44px;

    @media (min-width: @tablet-width) {
width: 24px;
    height: 22px;

  }
  @media (min-width: @desktop-width) {
    width: 48px;
    height: 44px;
  }
}
.upload__bar {
position: absolute;
    margin: auto;
    top: auto;
    bottom: 34px;
    left: 0;
    right: 0;
    content: none;
    display: block;
  background-color: @desaturated-blue;

@media (min-width: @tablet-width) {
    display: block;
    position: relative;
    margin: 0;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
      margin-right: 30px;
  }

}

.upload__bar-bar {
  width: 240px;
    height: 2px;
    margin: 0 auto;
    background: @desaturated-blue;
     @media (min-width: @tablet-width) {
      display: block;
    width: 202px;
  }

  @media (min-width: @desktop-width) {
  width: 288px;
  }
}


.upload__controls {
  max-width: 247px;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;

  @media (min-width: @tablet-width) {
    width: 275px;
    padding: 20px 18px 22px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid @borders-color;
    margin-bottom: 10px;

  }

  @media (min-width: @desktop-width) {
    min-width: 410px;
    padding: 14px 0 13px;
    margin-bottom: 2px;
  }
}

.upload__toggle {
  background-color: @basic-white;
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: @light-gray;
  border: 2px solid @pink;
  border-radius: 50%;
  padding: 0;
  margin-top: -5px;
  margin-left: 180px;
}

.upload__btns {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-top: 38px;
  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;

  }
}

.upload__btn {
  font-family: inherit;
  border-radius: 25px;
  color: @pink;
  background-color: transparent;
  display: inline-block;
  padding: 15px 35px;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid @pink;
  margin-bottom: 12px;


@media (min-width: @tablet-width) {
  margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;;

  }
}

